.phone-input {
    display: flex;
    justify-content: space-between;
}

.country-code {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */    
}